# fly.toml app configuration file generated for sotaapp2 on 2025-12-28T19:06:21+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sotaapp2'
primary_region = 'nrt'
swap_size_mb = 256

[build]
  image = 'jl1nie/sotaapp2:latest'

[[mounts]]
  source = 'data'
  destination = '/data'
  processes = ['app']

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[checks]
  [checks.health]
    port = 8080
    type = 'http'
    interval = '30s'
    timeout = '10s'
    grace_period = '30s'
    method = 'GET'
    path = '/api/v2/health'

[[restart]]
  policy = 'on-failure'
  retries = 3
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
